.Contador input{
    font-size: 1.4rem;
    width: 60px;
}

.Contador button{
    margin:15px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 1.4rem;
    background-color: #4040af;
    color:white;
}